{% load static %}
<div class="sidebar">
  <div class="sidebar-inner d-flex flex-column">
    <div class="px-4 py-5 align-self-center"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %} " alt="" width="150"></a></div>
    <div class="sidebar-menu-holder flex-grow-1">
      <ul class="sidebar-menu list-unstyled">
        <li>
          <form method="GET" action="{% url 'post_busca' %}">
          <div class="container-fluid"><input class="form-control" name="termo" value="{{request.GET.termo}}" type="search" placeholder="Busca"></div><br>
          </form>
        </li>
        <li class="mb-2 pb-1">
          <!-- Link--><a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-small {%if sobre != 'sobre' %}active{%endif%}" href="{% url 'index' %}">Home</a>
        </li>
        <li class="mb-2 pb-1">
          <!-- Link--><a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-small {%if sobre == 'sobre' %}active{%endif%}"  href="{% url 'sobre_index' %}">Sobre</a>
        </li>

      </ul>
    </div>
  <div class="px-4 py-3">
      <ul class="list-inline list-social mb-3">
        <li class="list-inline-item"><a class="reset-anchor" href="https://pt-br.facebook.com/Jockbass"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a class="reset-anchor" href="https://www.instagram.com/jocsakesley/"><i class="fab fa-instagram"></i></a></li>
        <li class="list-inline-item"><a class="reset-anchor" href="https://www.linkedin.com/in/jocsa-kesley-oliveira/"><i class="fab fa-linkedin"></i></a></li>
        <li class="list-inline-item"><a class="reset-anchor" href="https://github.com/jocsakesley"><i class="fab fa-github"></i></a></li>
        <li class="list-inline-item"><a class="reset-anchor" href="mailto:jocsadm@gmail.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
</div>

