{% extends 'base.html' %}
{%load static %}
{%block titulo%}<title>Sobre</title>{%endblock%}
{%block conteudo%}
<div class="page-holder">
      <div class="px-4 d-block d-lg-none">
        <!-- navbar-->
        <header class="header">
          <nav class="navbar navbar-expand-lg navbar-light px-0">
            <button class="navbar-toggler navbar-toggler-right text-sm text-uppercase" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <svg class="svg-icon svg-icon-heavy svg-icon-sm text-dark">
                <use xlink:href="#menu-hamburger-1"> </use>
              </svg>
            </button><a class="navbar-brand" href="index.html"><img src="img/logo.svg" alt="" width="50"></a>
          </nav>
        </header>
      </div>
      <div class="px-4 py-5">
    <div class="container-fluid">
          <div class="p-5 mb-5 bg-light">
            <div class="row">
              <div class="col-sm-3"><img class="img-fluid img-thumbnail rounded-circle" src="{% static 'img/foto-perfil.jpeg' %}" alt=""></div>
              <div class="col-sm-9">
                <h1 class="font-weight-normal">Olá! Eu sou  <strong>Jocsã Kesley</strong>. </h1>
                <h2 class="h1 font-weight-normal mb-4">Sou <strong>Desenvolvedor Python e Django</strong></h2>
                <p class="text-muted mb-4">Formado em Administração de empresas e Redes de computadores, possuo uma carreira em TI desde 2010 como Agente Censitário de Informática no IBGE, até a atual função como Analista de Suporte na Fundação Bradesco. Continuamente motivado em resolver problemas através da tecnologia, encontrei no Python um conjunto de ferramentas incríveis e com um potencial de geração de valor enorme.</p>
                <p class="text-muted mb-4"></p>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-5 my-2"><a class="btn btn-primary rounded-pill" href="https://drive.google.com/file/d/1UmLTBQzyg2sJ069mhk4WJUjYPUQsyKz0/view?usp=sharing">
                      <svg class="svg-icon mr-2 align-middle svg-icon-sm">
                        <use xlink:href="#survey-1"> </use>
                      </svg><span class="align-middle">Download Currículo</span></a></li>
                  <li class="list-inline-item my-2">
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item"><a class="reset-anchor" href="https://pt-br.facebook.com/Jockbass"> <i class="fab fa-facebook-f"></i></a></li>
                      <li class="list-inline-item"><a class="reset-anchor" href="https://www.instagram.com/jocsakesley/"> <i class="fab fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a class="reset-anchor" href="https://www.linkedin.com/in/jocsa-kesley-oliveira/"> <i class="fab fa-linkedin-in"></i></a></li>
                      <li class="list-inline-item"><a class="reset-anchor" href="https://github.com/jocsakesley"> <i class="fab fa-github"></i></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-lg-6 mb-4">
              <h2 class="h2">Hard Skills</h2>
              <div class="d-flex mr-0">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#checkmark-1"> </use>
                </svg>
                <div class="ml-3">
                  <h3 class="h5 mr-3 text-muted">Django</h3>
                </div>
              </div>
              <div class="d-flex mr-0">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#checkmark-1"> </use>
                </svg>
                <div class="ml-3">
                  <h3 class="h5 mr-3 text-muted">Python</h3>
                </div>
              </div>
              <div class="d-flex mr-0">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#checkmark-1"> </use>
                </svg>
                <div class="ml-3">
                  <h3 class="h5 mr-3 text-muted">HTML5, CSS3, JavaScript</h3>
                </div>
              </div>
              <div class="d-flex mr-0">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#checkmark-1"> </use>
                </svg>
                <div class="ml-3">
                  <h3 class="h5 mr-3 text-muted">Git e Github</h3>
                </div>
              </div>
              <div class="d-flex mr-0">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#checkmark-1"> </use>
                </svg>
                <div class="ml-3">
                  <h3 class="h5 mr-3 text-muted">Docker</h3>
                </div>
              </div>
              <div class="d-flex mr-0">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#checkmark-1"> </use>
                </svg>
                <div class="ml-3">
                  <h3 class="h5 mr-3 text-muted">Servidores Linux</h3>
                </div>
              </div>
              <div class="d-flex mr-0">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#checkmark-1"> </use>
                </svg>
                <div class="ml-3">
                  <h3 class="h5 mr-3 text-muted">Infraestrutura e redes</h3>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <h2 class="h2">Soft Skills</h2>
              <div class="d-flex mr-0">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#checkmark-1"> </use>
                </svg>
                <div class="ml-3">
                  <h3 class="h5 mr-3 text-muted">Participação em comunidade Python</h3>
                </div>
              </div>
              <div class="d-flex mr-0">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#checkmark-1"> </use>
                </svg>
                <div class="ml-3">
                  <h3 class="h5 mr-3 text-muted">Suporte a clientes internos e externos</h3>
                </div>
              </div>
              <div class="d-flex mr-0">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#checkmark-1"> </use>
                </svg>
                <div class="ml-3">
                  <h3 class="h5 mr-3 text-muted">Solução de problemas de negócios</h3>
                </div>
              </div>
              <div class="d-flex mr-0">
                <svg class="svg-icon text-primary">
                  <use xlink:href="#checkmark-1"> </use>
                </svg>
                <div class="ml-3">
                  <h3 class="h5 mr-3 text-muted">Resiliência e antifragilidade</h3>
                </div>
              </div>
          </div>
          </div>
    </div>
</div>
{% endblock %}
